body {
	background-color: lightgoldenrodyellow;
}
h1{
	font-size: 30px;
	color: mediumblue;
	text-decoration: underline;
}
h2{
	font-size: 20px;
	color: darkred;
}

.imp{
	color: black;
}

.uppercase{
	text-transform: uppercase;
}

span{
	text-transform: lowercase;
	
	color: hotpink;
}